*{
    margin: 0px;
    padding: 0px;
    box-sizing:content-box;
}


*{
    padding: 0;
    margin: 0;
    box-sizing:content-box;
}

header .titulo {
    background: #deb17a;
    position: center;
    border-style:dashed;
}

body {
    background-color: rgb(1, 249, 137);

}


section ul li a{
    margin-right: 20px;
    color: black;
}

nav ul li a{
    margin-right: 200px;
    text-decoration:none ;
}

section ul .item.separator{
    height: 1px;
    border-bottom: solid 1px black;
    margin: 15px 0;
}

section ul #imgandres{
    border-style:double;
    width: 10%;
    border-radius: 50%;
    margin-left: 20px;
}

section ul #imgyo{
    border-style:double;
    width: 10%;
    border-radius: 50%;
    margin-left: 20px;
} 